
.header {
    background-color:black;
    border-bottom: 4px solid yellow;
    padding: 10px ;
  }

#title{
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    font-weight: normal;
    padding: 5px 5px 5px 10px;
    text-transform: capitalize;
    margin: 0 auto;
}

.ul1 {
  list-style-type: none;
  display:flex;
  justify-content: flex-end;
  align-items: left;
  flex-direction:row;
  margin: 5px;
  padding: 5px;
}

.find {
  color: white;
  font-size: 14px;
  font-weight: bold; 
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase; 
  margin: 0px;
  padding: 5px;
}

.find:hover {
  background-color: rgba(236, 252, 14, 0.445);
}

.list1 {
  font-size: 12px;
  color: white;
  font-weight: inherit; /*normal*/
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  margin: 0px;
  padding: 5px;
}

.list1:hover {
  background-color: rgba(236, 252, 14, 0.445);
}

/* text in top */
.section1 {
  background-color:rgba(128, 128, 128, 0.562);
  font-size:20px;
  font-weight: bold;
  font-style: italic;
  font-family: monospace, serif; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#tastetext {
  color:gray;
  text-decoration: line-through;
}

#aretext {
  text-decoration: underline;
  text-decoration-color: yellow;
}

/* background container img */
.container2 {
  background-image:url("../images/coworking.jpg");
  background-size: cover;
  position: relative;
  height: 70vh;
}

 /* box into of img */
.match{
  background-color: rgba(255, 255, 255, 0.76);
  display:flex;
  flex-direction: column;
  justify-content: top;
  align-items:center;
  border: 1px solid rgba(121, 119, 119, 0.89);
  width: 200px;
  height: 260px;
  position: absolute;
  top: 15%;
  right: 3%;
}

.section2 h2{
 font-family: helvetica;
  font-weight: bold;
  font-size: 20px;
  text-transform: capitalize;
}

.section2 p {
  text-align: left;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  padding:0px 5px 30px 20px;
  margin:0px;
}

/* button of box */
.createbt {
  background: yellow;
  color: black;
  border:1px solid rgba(128, 128, 128, 0.336);
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
  width: 85%;
  height: 13%;
}


/* 3 boxes under the img */
.section3 {
  /* justify-content: space-around; */
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.div3, .div4, .div5 {
  width: 200px;
  height: 250px;
  color: black;
  border-right: .5px solid rgba(128, 128, 128, 0.281);
  margin-top: 15px;
  margin-bottom: 20px;
  padding:0px 5px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.section3 h1 {
  font-family: serif;
  font-weight: normal;
  font-size: 20px;
  text-transform: capitalize;
  margin-bottom: 20px;

  /* padding:0px 5px 0px 20px; */
}

.section3 p {
  font-size: 13px;
  font-weight: normal;
  font-family: sans-serif;
  text-transform: capitalize;
  text-align: left; 
  /* padding:0px 5px 0px 20px; */
  margin-bottom: 20px;
}
 
.sign, .searchbt {
  margin: 15px;
  padding: 0px; 
  width: 85%;
  height: 13%;
  background: rgba(128, 128, 128, 0.281);
  color: black;
  border:1px solid rgba(128, 128, 128, 0.336);
  border-radius: 5px;
  font-size: 15px;
  font-family: monospace, Arial, Helvetica, sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
}

/* footer copyrigh */
  footer {
    font-size:14px;
    font-weight: inherit; /*normal*/
    color: white;
    font-family: monospace; 
    text-transform: capitalize;
    background-color:black;
    display: block;
    padding: 5px 0px 5px 10px;
  }
